.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  margin-bottom: 220px;
  margin-top: 90px;
}

.left-section {
  text-align: left;
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 250px;
}

.right-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin-right: 300px;
}
  
  .container > div {
    margin: 10px; 
  }
  
  .container > div:first-child {
    font-size: 24px; 
  }
  
  .container > div:last-child {
    display: flex;
    gap: 20px; 
    margin-top: 10px; 
  }
  img {
    border-radius: 50%;
    margin-bottom: 50px;
  }
  #home-header{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 55px;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
  }

  .name{
    font-family: "Bungee", cursive;
    color: rgb(192, 238, 116);
    font-size: 65px;
    font-weight: 600;
  }
  .welcome{
    color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #position{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(200, 198, 198);
    font-size: 35px;
    
  }

  .image-container {
    position: relative;
    display: inline-block;
    padding: 0px;
    margin-top: 20px;
    left: 20px;
    
    transform: translateY(10px);
}

.image-container img {
    position: relative;
    width: 130%;
    height: auto;
    transition: transform 0.2s;
    margin-right: 50px;
    border: solid rgb(255, 255, 255);;
}

.image-container:hover img {
    transform: translateY(-10px);
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.5);
}

.social-links {
  display: flex;
  gap: 20px;
  margin-top: 25px;
  justify-content: center;
  align-items: center;
  z-index: 101;
}

.social-icon {
    font-size: 40px; 
    color: #ffffff; 
    transition: transform 0.2s;
}
.gitlab-icon{
    font-size: 38px; 
    color: rgb(192, 238, 116);
    transition: transform 0.2s;
}

.social-icon:hover, .gitlab-icon:hover {
  transform: scale(1.2); 
  cursor: pointer;
}



.overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 30vh;
	z-index: 100;

	background: rgb(255, 255, 255);
	background: transparent
}

.hello-world {
	font-family: "Yanone Kaffeesatz";
	font-size: 55px;
	display: flex;
	position: relative;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	user-select: none;

	.wrapper {
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 20px;
		.letter {
			transition: ease-out 1s;
			transform: translateY(40%);
		}
		.shadow {
			transform: scale(1, -1);
			color: #999;
			transition: ease-in 5s, ease-out 5s;
		}
		&:hover {
			.letter {
				transform: translateY(-200%);
			}
			.shadow {
				opacity: 0;
				transform: translateY(200%);
			}
		}
	}
}


