.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

}

.logo-container {
  display: flex;
  align-items: center;
}

#vg-portfolio {
  color: rgb(192, 238, 116);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 800;
  font-size: 40px;
}

nav {
  background-color: transparent;
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

li {
  padding: 5px 10px;
}

li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.2s;
  font-family: "Bungee", cursive;
  font-size: 2.5em;
}

li a.link-one{
  color: rgb(192, 238, 116);
  transition: color 1s cubic-bezier(0.32, 0, 0.67, 0);
}

li a.link-one:hover {
  color: white;
  text-decoration:underline;
  transition: color 1s cubic-bezier(0.33, 1, 0.68, 1);
  cursor: pointer;
}

li a.link-two {
  color: rgb(192, 238, 116);
  transition: color 1s cubic-bezier(0.32, 0, 0.67, 0);
}

li a.link-two:hover {
  color: white;
  text-decoration:underline;
  transition: color 1s cubic-bezier(0.33, 1, 0.68, 1);
  cursor: pointer;
}



li a.link-three {
  color: rgb(192, 238, 116);
}

li a.link-three:hover {
  color: white;
  text-decoration:underline;
  transition: color 1s cubic-bezier(0.33, 1, 0.68, 1);
  cursor: pointer;
}

li a.link-four {
  color: rgb(192, 238, 116);
}
li.active a {
  color: white;
  text-decoration: underline;
  transition: color 1s cubic-bezier(0.33, 1, 0.68, 1);
}

li a.link-four:hover {
  color: white;
  text-decoration:underline;
  transition: color 1s cubic-bezier(0.33, 1, 0.68, 1);
  cursor: pointer;
}

.nav-links{
  font-size: 12px;
}

.logo{
  width: 260px;
  height: 120px;
  display: flex;
  align-items: center;
}

