body {
  margin: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background: radial-gradient(circle at -20.9% 34.2%, rgb(0, 255, 128) 0%, rgb(225, 255, 0) 15.9%,  rgb(192, 238, 116) 15.9%, rgb(192, 238, 116) 24.4%, rgb(19, 30, 37) 24.5%, rgb(19, 30, 37) 66%);
}

