.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 100px;
}

.projects-container h2 {
  display: grid;
  justify-content: flex-start;
  color: rgb(192, 238, 116);
  font-family: "Bungee", cursive;
  font-size: 3em;
}

.project-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 50px;
  margin-top: 80px;

}

.project-box {
  position: relative;
  width: calc(50% - 50px); 
  max-height: 380px;
  border-radius: 20px;
  transition: transform 0.2s ease-in-out;
  overflow: hidden;

}

.project-box:hover {
  transform: translateY(-5px); 
}

.project-box img {
  width: 100%;
  max-height: 1000px; 
  object-fit: cover; 
  border-radius: 20px;
}

.project-box:hover .project-details {
  opacity: 1;
  visibility: visible;
  bottom: 0;
}

.project-details {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background: rgb(0, 0, 0, 0.6);
  color: #fff;
  visibility: hidden;
  display: flex;
  flex-direction: column; 
  justify-content: flex-end; 
  align-items: center; 
  height: 120%;
  gap: 70px;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.project-name {
  font-size: 1.1em;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  font-family: "Bungee", cursive;
  font-weight: 700;
  background: #000;
  border-radius: 10px;
  padding: 5px;
}

.project-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  gap: 15px;
}

.project-buttons a {
  background-color: rgb(192, 238, 116);
  color: rgb(0, 0, 0);
  padding: 5px 10px;
  border-radius: 8px;
  font-weight: 600;
  text-decoration: none;
}

.project-buttons a:hover {
  background-color: rgb(1, 129, 22);
  color: rgb(255, 255, 255);
}

.see-more-button {
  margin-top: 120px;
  margin-bottom: 50px;
  background-color: transparent;
  color: rgb(192, 238, 116);
  border: 2px solid rgb(192, 238, 116);
  border-radius: 8px;
  padding: 5px 10px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.see-more-button:hover {
  background-color: rgb(192, 238, 116);
  color: white;
}
.project-description{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 90%;
  background: #000;
  border-radius: 10px;
  font-weight: 500;
  padding: 5px;
}