.about-me-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    margin-left: -300px;
    margin-top: 200px;
  }
  
  .about-me-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    width: 100%;
    max-width: 1400px;
    margin-top: 70px;
  }
  
  .about-me-left {
    width: 60%; 
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -80px;
  }
  
.profile-image {
  max-width: 60%; 
  border-radius: 10%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  margin-top: 20px;
  
}
  
  .cover-letter {
    display: inline-block;
    margin-top: -150px;
    font-size: 20px;
    line-height: 1.2;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .about-me-right {
    width: 45%;
    margin-top: 30px;
    position: relative; 
    display: flex;
    flex-direction: column;
  }
  
  .greetings {
    color: #ffffff;
    font-family: "Bungee", cursive;
    font-size: 24px; 
    margin-bottom: 8px;
    font-weight: 500;
  }
  
  .tech-icons .tech-icon-container .tech-icon {
    font-size: 35px; 
  }
  
  .tech-icons {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    color: #ffffff;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .hobbies ul {
    list-style: none;
    padding-left: 0;
    font-size: 20px;
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .hobbies li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .life-philosophy p {
    font-size: 20px;
    line-height: 1.6;
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: -4px;
  }

  .header {
    font-family: "Bungee", cursive;
    color: #c0ee74;
    font-size: 24px;
    position: inherit;
    bottom: 120px;
  }

  .menu ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}

.menu li {
  cursor: pointer;
  font-size: 24px;
  color: white;
  font-family: 'Lucida Sans', sans-serif;
  transition: color 0.3s;
  font-family: "Bungee", cursive;
  
}

.menu li:hover {
  color: #c0ee74
}

.menu li.active {
  text-decoration: underline;
  color: #c0ee74
}