
header {
    color: white;
    text-align: center;
    padding: 20px;
    color: rgb(192, 238, 116);
    font-family: "Bungee", cursive;
    font-size: 2em;
    margin: 50px 0;
  }
  .contact-info p svg {
    color: rgb(192, 238, 116);
    margin-right: 10px;
    width: 25px;
    height: 25px;
  }
  .avatar {
    width: 70px; 
    height: 70px;
    vertical-align: top;
    margin-right: 10px; 
  }
  h1 {
    margin: 0;
  }
  
  .contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    text-align: left;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
  }
  .email-phone {
    display: flex;
    flex-direction: column;
    align-items: left;
  }
  
  p {
    margin: 20px 0;
    font-size: 18px;
  }
  
  a {
    color: #0077B5;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  button {
    background-color: rgb(192, 238, 116);
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 20px;
  }
  
  button:hover {
    background-color: #03aa11;
    color: white;
  }
  
  