.footer {
  background-color: rgb(192, 238, 116);;
  color: #000000;
  padding: 10px 0;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: relative; 
  width: 100%;
  height: 2rem;
  bottom: 0; 
  margin-top: 40px;
}

.footer-content {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100%; 
}

.footer p {
  margin: 0;
}
